<form class="form-horizontal" action="" id="company-form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputName">Name</label>
        <div class="col-sm-10">
            <input id="inputName" name="inputName" class="form-control" type="text" placeholder="Name">
        </div>
    </div>
     <div class="form-group">
        <label class="col-sm-2 control-label" for="inputQuota">Quota</label>
        <div class="col-sm-10">
            <input id="inputQuota" name="inputQuota" class="form-control" placeholder="Quota" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>