<div class="panel-heading">
    <div class="panel-title">
        <div class="input-group date">
            <input type="text" class="form-control">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
    </div>
    <div class="panel-options">
        <button onClick="Core.modules.Abusers.generateData();" class="btn btn-success btn-sm">Generate Data</button>
        <button onClick="Core.modules.Abusers.showReport();" class="btn btn-success btn-sm">Show Report</button>
    </div>
</div>
<div class="panel-body">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="abusers">
        <thead>
            <tr>
                <th>Company</th>
                <th>Used</th>
                <th>Quota</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>