<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="abusers-users">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Used</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>