<form class="form-horizontal" action="" id="user-form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputName">Name</label>
        <div class="col-sm-10">
            <input id="inputName" name="inputName" class="form-control" type="text" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="inputEmail">Email</label>
        <div class="col-sm-10">
            <input id="inputEmail" name="inputEmail" class="form-control"  type="email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="selectCompany">Company</label>
        <div class="col-sm-10">
            <select id="selectCompany" class="form-control" name="selectCompany">
                <option value="">Please select</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>