<div class="panel-heading">
    <div class="panel-options">
        <button onClick="Core.modules.Users.add();" class="btn btn-success btn-sm">Add</button>
    </div>
</div>
<div class="panel-body">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="users">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>